body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1.4;
}


/*--------- Header ----------*/

header{
    border-bottom: 1px solid #ccc;

}

.container{
    padding: 20px 40px 10px 40px;;
}

header .container .searchBar img.logo{
    position: relative;
    top: 10px;
}

header ul {
    list-style-type: none;

}

header .container .searchBar ul li{
    float: right;
    position: relative;
    right: -17px;
    bottom: -2px;
}

header .container .searchBar img{
    float: left;
}

header .container .searchBar ul li a img {
    position: relative;
    bottom: 40px;
    padding: 10px;
}

header .container .searchBar ul li a img.circle {
    position: relative;
    bottom: 45px;
    border-radius: 30px;
}


header input[type=text]{
    width: 50%;
    padding: 15px;
    margin: 0 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
   
}


nav div {
    position: relative;
    left: 150px;
    display: inline-block;
    padding: 10px 17px;;
    
}

nav div span {
    position: relative;
    right: -50px;
}

nav div a{
    text-decoration: none;
    color: #545454
}
nav div.active{
    text-decoration: none;
    color: #545454;
    border-bottom:3px solid #1A73E8;
}


.clear{
    clear: both;
}

/********* Main **********/
main {
    width:632px;;
    margin-left:150px;
    margin-right: 264px;
}

.result{
    padding: 15px 0;
}

h1 {
    margin-top: 5px;
    margin-bottom:5px;
    color: #1a0dab;
    font-size: 150%;
}

h2{
    margin: 5px 0 5px 0;
    color: #006621;
    font-size: 120%;
}

p{
    color: #545454;
}

.ad {
    margin-bottom: 30px;
}

.containerTips {
    border: 1px solid #545454;
    border-radius: 5px;
}