body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1.4;
}


/*--------- Header ----------*/

header{
    border-bottom: 1px solid #ccc;

}

.container{
    padding: 20px 40px 10px 40px;;
}

header .container .searchBar img{
    float: left;
}

header ul {
    list-style-type: none;

}

header .container .searchBar ul li{
    float: right;
}

header input[type=text]{
    width: 50%;
    padding: 15px;
    margin: 0 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
   
}

nav{
    padding: 15px;
}

nav div {
    position: relative;
    left: 120px;
    display: inline-block;
    padding: 0 15px;
}

nav div a{
    text-decoration: none;
    color: #545454
}

.clear{
    clear: both;
}

/********* Main **********/
main {
    width:632px;;
    margin-left:150px;
    margin-right: 264px;
}

.result{
    padding: 15px 0;
}

h1 {
    margin-top: 5px;
    margin-bottom:5px;
    color: #1a0dab;
    font-size: 150%;
}

h2{
    margin: 5px 0 5px 0;
    color: #006621;
    font-size: 120%;
}

p{
    color: #545454;
}

.ad {
    margin-bottom: 30px;
}

.tips {
    border: 1px solid #545454;
    border-radius: 5px;
}